<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.css.im.sys.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.css.im.sys.model.SysUser">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="last_active_time" jdbcType="VARCHAR" property="lastActiveTime" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="birthday" jdbcType="VARCHAR" property="birthday" />
    <result column="sex" jdbcType="SMALLINT" property="sex" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="office" jdbcType="VARCHAR" property="office" />
    <result column="sign" jdbcType="VARCHAR" property="sign" />
    <result column="extension_num" jdbcType="VARCHAR" property="extensionNum" />
    <result column="duty" jdbcType="VARCHAR" property="duty" />
    <result column="mail" jdbcType="VARCHAR" property="mail" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.css.im.sys.model.SysUser">
    <result column="token" jdbcType="LONGVARCHAR" property="token" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <resultMap extends="ResultMapWithBLOBs" id="ResultMapWithDeptId" type="com.css.im.sys.model.SysUser">
    <result column="dept_id" property="deptId"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_id, name, username, password, photo, status, create_time, last_active_time, 
    email, birthday, sex, phone, order_num, update_time, creater, mobile, office, sign, 
    extension_num, duty, mail
  </sql>
  <sql id="Blob_Column_List">
    token, description
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.css.im.sys.model.SysUserExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.css.im.sys.model.SysUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_user
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_user
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.css.im.sys.model.SysUserExample">
    delete from sys_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.css.im.sys.model.SysUser">
    insert into sys_user (user_id, name, username, 
      password, photo, status, 
      create_time, last_active_time, email, 
      birthday, sex, phone, 
      order_num, update_time, creater, 
      mobile, office, sign, 
      extension_num, duty, mail, 
      token, description)
    values (#{userId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, 
      #{createTime,jdbcType=VARCHAR}, #{lastActiveTime,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=VARCHAR}, #{sex,jdbcType=SMALLINT}, #{phone,jdbcType=VARCHAR}, 
      #{orderNum,jdbcType=INTEGER}, #{updateTime,jdbcType=VARCHAR}, #{creater,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{office,jdbcType=VARCHAR}, #{sign,jdbcType=VARCHAR}, 
      #{extensionNum,jdbcType=VARCHAR}, #{duty,jdbcType=VARCHAR}, #{mail,jdbcType=VARCHAR}, 
      #{token,jdbcType=LONGVARCHAR}, #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.css.im.sys.model.SysUser">
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastActiveTime != null">
        last_active_time,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="orderNum != null">
        order_num,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="office != null">
        office,
      </if>
      <if test="sign != null">
        sign,
      </if>
      <if test="extensionNum != null">
        extension_num,
      </if>
      <if test="duty != null">
        duty,
      </if>
      <if test="mail != null">
        mail,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="lastActiveTime != null">
        #{lastActiveTime,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=SMALLINT},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="office != null">
        #{office,jdbcType=VARCHAR},
      </if>
      <if test="sign != null">
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="extensionNum != null">
        #{extensionNum,jdbcType=VARCHAR},
      </if>
      <if test="duty != null">
        #{duty,jdbcType=VARCHAR},
      </if>
      <if test="mail != null">
        #{mail,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.css.im.sys.model.SysUserExample" resultType="java.lang.Long">
    select count(*) from sys_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_user
    <set>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.photo != null">
        photo = #{record.photo,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=SMALLINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.lastActiveTime != null">
        last_active_time = #{record.lastActiveTime,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.birthday != null">
        birthday = #{record.birthday,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=SMALLINT},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNum != null">
        order_num = #{record.orderNum,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null">
        creater = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null">
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.office != null">
        office = #{record.office,jdbcType=VARCHAR},
      </if>
      <if test="record.sign != null">
        sign = #{record.sign,jdbcType=VARCHAR},
      </if>
      <if test="record.extensionNum != null">
        extension_num = #{record.extensionNum,jdbcType=VARCHAR},
      </if>
      <if test="record.duty != null">
        duty = #{record.duty,jdbcType=VARCHAR},
      </if>
      <if test="record.mail != null">
        mail = #{record.mail,jdbcType=VARCHAR},
      </if>
      <if test="record.token != null">
        token = #{record.token,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update sys_user
    set user_id = #{record.userId,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      photo = #{record.photo,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=SMALLINT},
      create_time = #{record.createTime,jdbcType=VARCHAR},
      last_active_time = #{record.lastActiveTime,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      birthday = #{record.birthday,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=SMALLINT},
      phone = #{record.phone,jdbcType=VARCHAR},
      order_num = #{record.orderNum,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=VARCHAR},
      creater = #{record.creater,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      office = #{record.office,jdbcType=VARCHAR},
      sign = #{record.sign,jdbcType=VARCHAR},
      extension_num = #{record.extensionNum,jdbcType=VARCHAR},
      duty = #{record.duty,jdbcType=VARCHAR},
      mail = #{record.mail,jdbcType=VARCHAR},
      token = #{record.token,jdbcType=LONGVARCHAR},
      description = #{record.description,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_user
    set user_id = #{record.userId,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      photo = #{record.photo,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=SMALLINT},
      create_time = #{record.createTime,jdbcType=VARCHAR},
      last_active_time = #{record.lastActiveTime,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      birthday = #{record.birthday,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=SMALLINT},
      phone = #{record.phone,jdbcType=VARCHAR},
      order_num = #{record.orderNum,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=VARCHAR},
      creater = #{record.creater,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      office = #{record.office,jdbcType=VARCHAR},
      sign = #{record.sign,jdbcType=VARCHAR},
      extension_num = #{record.extensionNum,jdbcType=VARCHAR},
      duty = #{record.duty,jdbcType=VARCHAR},
      mail = #{record.mail,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.css.im.sys.model.SysUser">
    update sys_user
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="lastActiveTime != null">
        last_active_time = #{lastActiveTime,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=SMALLINT},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="office != null">
        office = #{office,jdbcType=VARCHAR},
      </if>
      <if test="sign != null">
        sign = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="extensionNum != null">
        extension_num = #{extensionNum,jdbcType=VARCHAR},
      </if>
      <if test="duty != null">
        duty = #{duty,jdbcType=VARCHAR},
      </if>
      <if test="mail != null">
        mail = #{mail,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.css.im.sys.model.SysUser">
    update sys_user
    set name = #{name,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=VARCHAR},
      last_active_time = #{lastActiveTime,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=SMALLINT},
      phone = #{phone,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      office = #{office,jdbcType=VARCHAR},
      sign = #{sign,jdbcType=VARCHAR},
      extension_num = #{extensionNum,jdbcType=VARCHAR},
      duty = #{duty,jdbcType=VARCHAR},
      mail = #{mail,jdbcType=VARCHAR},
      token = #{token,jdbcType=LONGVARCHAR},
      description = #{description,jdbcType=LONGVARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.css.im.sys.model.SysUser">
    update sys_user
    set name = #{name,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=VARCHAR},
      last_active_time = #{lastActiveTime,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=SMALLINT},
      phone = #{phone,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      office = #{office,jdbcType=VARCHAR},
      sign = #{sign,jdbcType=VARCHAR},
      extension_num = #{extensionNum,jdbcType=VARCHAR},
      duty = #{duty,jdbcType=VARCHAR},
      mail = #{mail,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <select id="getUserListByDept" resultMap="BaseResultMap">
    SELECT user_id, name FROM sys_user WHERE user_id IN
    (SELECT user_id FROM org_user_dept WHERE dept_id = #{deptId})
  </select>

  <select id="queryAllUser" resultMap="ResultMapWithDeptId">
    SELECT s.*, o.dept_id AS dept_id
    FROM sys_user s, org_user_dept o
    WHERE s.user_id = o.user_id
    ORDER BY s.order_num
  </select>
</mapper>